# Maven
target/
!.mvn/wrapper/maven-wrapper.jar

# Eclipse
.metadata/
.classpath
.project
.settings/

# IntelliJ
.idea/
*.iml

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# Environment / secrets
.env
*.env

# Build output
*.jar
*.war

# Temporary files
structure.txt